{% extends "mainfiles/index.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row account-row g-0  mb-5" style="height:500px; margin-top: 20px; background-color: cadetblue;">
        <div class="col-md-6 col-sm-12">
            <div class="img-fluid">
                <img src="{%static 'staticfiles/img/loginimg.jpg' %}" style="height:500px; width:100%;" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 form-row "style="padding-left:30px; padding-top:40px;">
                    <form class="myform" action="" method="POST" style="width:350px; text-align: center; margin-top: 25px; " >
                        {% csrf_token %}
                        {% for mes in messages %}
                        <h4>{{mes}}</h4>
                        {% endfor %}
                        <h1 class="formtext">Login</h1>
                        <div class="mb-3">
                            <input type="text" name ="username"class="form-control" id="username" aria-describedby="Enter Username">  
                        </div>
                        <div class="mb-4">
                            <input type="password" name ="pass1"class="form-control" id="username" aria-describedby="Enter Password">  
                        </div>
                            <button class="btn btn-primary acbtn ">Login</button>
                            <p class="mt-4">All Ready account :<span>Register</span></p>
                    </form>  
        </div>
    </div>
</div>
{% endblock %}